:root {
  /* COLORS*/
  --color-clear: #f5f5f5;
  --color-brown: burlywood;
  --color-darkbrown: rgb(136, 113, 81);
  --color-black: #000000;

  /*BACKGROUND*/
  --background-color-primary: var(--color-clear);

  /*SPACINGS*/
  --margin-xs: 15px;
  --margin-s: 20px;
  --margin-m: 30px;
  --margin-l: 40px;
  --margin-xl: 50px;
  --margin-xxl: 60px;

  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --padding-l: 40px;
  --padding-xl: 50px;
  --padding-xxl: 60px;

  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  /*BORDER RADIUS*/
  --border-radius-s: 10px;
  --border-radius-xs: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--margin-s);
  color: var(--color-brown);
}
section.products,
.anotherProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding: var(--padding-s);
  gap: var(--gap-l);
  background-color: var(--color-clear);
  border-radius: var(--border-radius-s);
}

div.products,
.others {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 450px;
}

div.img,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border-radius: var(--border-radius-s);
  gap: var(--gap-m);
  box-shadow: 0px 4px 8px rgba(136, 113, 81, 0.603);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
img,
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-s);
}
h3,
p {
  color: var(--color-darkbrown);
  text-align: center;
  font-weight: 800;
}

.star {
  width: 20px;
  height: 20px;
  background-color: var(--color-brown);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.full {
  background-color: var(--color-darkbrown);
}
.stars {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.select {
  width: 300px;
  height: 2em;
  color: var(--color-darkbrown);
  font-weight: 700;
  background-color: var(--background-color-primary);
  border: 2px solid var(--color-darkbrown);
  border-radius: var(--border-radius-xs);
  margin-left: var(--margin-xs);
  margin-top: var(--margin-m);
}

.input {
  height: 2em;
  width: 300px;
  margin-left: var(--margin-xs);
}

input {
  border-color: var(--color-darkbrown);
  border-radius: var(--border-radius-xs);
}

button {
  background-color: var(--color-darkbrown);
  width: 120px;
  border-radius: var(--border-radius-xs);
  color: var(--color-clear);
  margin: 20px 0px 0px 5px;
  cursor: pointer;
}

.cleaner {
  margin-left: var(--margin-xs);
  margin-top: var(--margin-s);
  padding: 3px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .cleaner {
    margin-top: var(--margin-l);
  }
  .input {
    margin-top: var(--margin-m);
  }
}
